
:root {
  --red-600: hsl(345, 95%, 68%);
  --blue-900: hsl(234, 17%, 12%);
  --blue-800: hsl(235, 16%, 14%);
  --blue-500: hsl(236, 21%, 26%);
  --blue-100: hsl(237, 18%, 59%);
  --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color: var(--blue-900);
  color: var(--White);
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr max-content;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  height: 30vh;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url(../assets/images/pattern-hills.svg);
  z-index: -1;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../assets/images/bg-stars.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.main {
  max-width: 55rem;
  width: 80%;
  text-align: center;
  display: grid;
  gap: 7rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.title {
  letter-spacing: 3px;
}

.counter-wrapper {
  grid-row: 2 / 4;
  display: flex;
  align-items: center ;
  justify-content: center;
  gap: 1.5rem;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-radius: 0.1em;
  font-size: 3.5rem;
  color: var(--red-600);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.75);
  letter-spacing: 3px;
}

.card-top,
.card-bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em ;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
  width: 6rem;
}

.card-top,
.flip-card .top-flip {
  background-color: var(--blue-500);
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: relative;
}



.card-bottom,
.flip-card .bottom-flip {
  background-color: var(--blue-500);
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  position: relative;
}



.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

figcaption {
  padding-block-start: 1rem;
  font-size: .85rem;
  color: var(--blue-100);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  grid-row: 4 / 5;
}

.icon {
  width: 2rem;
  aspect-ratio: 1;
  fill: var(--blue-100);
  transition: all 250ms ease-in-out;
}

.social-list a:is(:hover , :focus) .icon {
  fill: var(--red-600);
}


.attribution {
  display: none;
}

@media (min-width:50rem) {

  .attribution {
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--White);
    padding: .85rem 1.5rem;
    border-radius: 1rem;
    color: var(--blue-900);
    font-size: 0.85rem;
    text-align: center;
    opacity: 0.15;
    transition: opacity 200ms ease-in-out;
  }  

  .attribution:hover {
    opacity: 1;
  }
}
